Repository amiut/QA-app-redux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --cache --fix"
  ],
  "**/*.json": [
    "prettier --write"
  ]
}

added some unstaged files
  package.json
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/components/AddQuestionForm/index.ts
  src/components/QuestionsList/QuestionsList.tsx
  src/components/QuestionsList/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/state/questions/actions.ts
  src/state/questions/hooks/useQuestions.ts
  src/state/questions/reducer.ts
  src/state/store.ts
  src/state/types.d.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

undo added recent question
  .eslintcache
  src/components/AddQuestionForm/AddQuestionForm.tsx
Due: eslint --cache --fix

UI Improvements
  .eslintcache
  package.json
  src/components/QuestionsList/QuestionItem.tsx
  src/components/QuestionsList/QuestionsList.tsx
  src/pages/index.tsx
  src/styles/base.sass
  tailwind.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

Some icons
  .eslintcache
  public/static/svg/sprites.svg
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/components/Common/Icon.tsx
Due: eslint --cache --fix

remove some boilerplate styles
  .eslintcache
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/components/QuestionsList/QuestionItem.tsx
  src/styles/animate.css
  src/styles/fonts.sass
  src/styles/globals.sass
Due: eslint --cache --fix

useclickoutside and usetoggle hooks added
  .eslintcache
  public/static/svg/sprites.svg
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/components/QuestionsList/QuestionsList.tsx
  src/hooks/useClickOutside.ts
  src/hooks/useToggle.ts
  src/styles/common/index.sass
  src/styles/common/tooltip.sass
  src/styles/globals.sass
Due: eslint --cache --fix

2 kind of tooltips: on hover & onclick
  .eslintcache
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/hooks/useToggle.ts
  src/styles/common/tooltip.sass
Due: eslint --cache --fix

improve textfield ui
  .eslintcache
  src/styles/base.sass
Due: none

apply rings only to text input fields
  src/styles/base.sass
Due: none

refactor questions state
  src/state/questions/hooks/useQuestions.ts
  src/state/questions/reducer.ts
Due: eslint --cache --fix

error handling
  .eslintcache
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/components/QuestionsList/QuestionsList.tsx
  src/pages/index.tsx
  src/state/questions/reducer.ts
Due: eslint --cache --fix

sort and remove buttons
  .eslintcache
  package.json
  public/static/svg/sprites.svg
  src/components/QuestionsList/QuestionsList.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Remove All Questions
  .eslintcache
  src/components/QuestionsList/QuestionsList.tsx
  src/state/questions/actions.ts
  src/state/questions/hooks/useQuestions.ts
  src/state/questions/reducer.ts
Due: eslint --cache --fix

Adding configs: ⚙⚙⚙
  .eslintcache
  src/components/AppConfig/AppConfig.tsx
  src/components/AppConfig/index.ts
  src/components/QuestionsList/QuestionsList.tsx
  src/pages/index.tsx
  src/state/questions/actions.ts
  src/state/questions/hooks/useQuestions.ts
  src/state/questions/reducer.ts
Due: eslint --cache --fix

enter key is send: complete
  .eslintcache
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/components/AppConfig/AppConfig.tsx
Due: eslint --cache --fix

Add question async
  .eslintcache
  package.json
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/pages/_app.tsx
  src/state/questions/actions.ts
  src/state/questions/hooks/useQuestions.ts
  src/state/questions/reducer.ts
  src/state/store.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

sorting questions
  .eslintcache
  src/components/QuestionsList/QuestionsList.tsx
  src/state/questions/actions.ts
  src/state/questions/hooks/useQuestions.ts
  src/state/questions/reducer.ts
Due: eslint --cache --fix

undo feature
  .eslintcache
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/components/AppConfig/AppConfig.tsx
  src/components/Common/MessageWithUndo.tsx
  src/components/QuestionsList/QuestionsList.tsx
  src/state/questions/actions.ts
  src/state/questions/hooks/useQuestions.ts
  src/state/questions/reducer.ts
Due: eslint --cache --fix

Config show/hide
  .eslintcache
  src/components/AppConfig/AppConfig.tsx
Due: eslint --cache --fix

undo for delete
  .eslintcache
  src/components/QuestionsList/QuestionItem.tsx
  src/components/QuestionsList/QuestionsList.tsx
  src/state/questions/actions.ts
  src/state/questions/hooks/useQuestions.ts
  src/state/questions/reducer.ts
Due: eslint --cache --fix

undo done
  .eslintcache
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/pages/index.tsx
  src/state/questions/reducer.ts
Due: eslint --cache --fix

UI Improvements
  .eslintcache
  src/components/AppConfig/AppConfig.tsx
  src/components/QuestionsList/QuestionsList.tsx
Due: eslint --cache --fix

Edit Questions complete
  .eslintcache
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/components/QuestionsList/QuestionItem.tsx
  src/state/questions/actions.ts
  src/state/questions/hooks/useEditQuestion.ts
  src/state/questions/reducer.ts
Due: eslint --cache --fix

some tests added
  .eslintcache
  jest.config.js
  package.json
  public/favicon.ico
  public/vercel.svg
  src/state/questions/__tests__/questions.test.ts
  src/styles/base.sass
  yarn.lock
Due: eslint --cache --fix, prettier --write

errors fix
  .eslintcache
  src/Utils/questionIsValid.ts
  src/components/AddQuestionForm/AddQuestionForm.tsx
  src/components/QuestionsList/QuestionItem.tsx
  src/components/QuestionsList/QuestionsList.tsx
Due: eslint --cache --fix

String.trim() works just fine for multi space removal as well as removing space from left and right
  .eslintcache
  src/components/AddQuestionForm/AddQuestionForm.tsx
Due: eslint --cache --fix

cleanup validation a bit
  .eslintcache
  src/components/AddQuestionForm/AddQuestionForm.tsx
Due: eslint --cache --fix
